/* Hide built in image editor */
.wp-core-ui .edit-attachment,
.wp-core-ui .button[id^="imgedit-open-btn-"] {
	display: none;
}

#hm-thumbnail-container .spinner {
	background-position: center;
	left: 50%;
	margin-left: -10px;
	margin-top: -10px;
	position: absolute;
	text-align: center;
	top: 50%; }

  .hm-thumbnail-cropper-image-wrap {
	align-items: flex-start;
	display: flex;
	flex-wrap: wrap;
	width: 100%; }

  .wp-core-ui .hm-thumbnail-cropper-image-wrap h3 {
	text-transform: capitalize;
	margin: 16px;
	font-size: 1.3em;
	color: #23282d; }

  .wp-core-ui .hm-thumbnail-cropper-image-wrap h3 button {
	margin-left: 10px;
	margin-bottom: -20px;
	margin-top: -4px; }

  .media-frame .hm-thumbnail-cropper-image-wrap h3 .spinner {
	display: inline-block;
	margin-left: 10px;
	float: none; }

  .hm-thumbnail-size-select {
	font-size: 110%;
	margin: 16px 16px 0; }

  .hm-thumbnail-edit-wrap {
	flex: 3 1 0;
	min-width: 450px;
	max-width: 100%; }

  .hm-thumbnail-preview-wrap {
	flex: 2 1 0; }

  .hm-thumbnail-edit, .hm-thumbnail-preview {
	margin: 10px 16px;
	max-width: 100%;
	box-sizing: border-box; }
	.hm-thumbnail-edit > img, .hm-thumbnail-preview > img {
	  max-width: 100%;
	  height: auto; }

  .hm-thumbnail-cropper-button {
	margin: 16px 0; }
